:root {
  --clr-bg: #22223b;
  --clr-surface: #f2e9e4;
  --clr-btn: #c9ada7;
  --clr-btn-txt: #111;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-bg);
  color: var(--clr-surface);
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app > header {
  padding: 0 12vw;
  padding-block: 2rem;
  background-color: #1b1b2f;
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12); */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 0 12vw; */
  /* padding-bottom: 4rem; */
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem 12vw;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

footer a {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  outline: 0;
  font-family: inherit;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  display: block;
}

.link:hover {
  text-decoration: underline;
}

button.secondary {
  padding: 1em 2em;
  color: var(--clr-btn-txt);
}

button.raised {
  padding: 1em 2em;
  background-color: var(--clr-btn);
  color: var(--clr-btn-txt);
  transition: background-color 0.2s ease;
}

button.raised:hover {
  background-color: #a8928d;
}

button.large {
  font-size: 1.5rem;
}

.h-padding {
  padding-inline: 12vw;
}

.model-stage-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}

.model-stage {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.sub-model-stage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--clr-surface);
  padding: 1rem 2rem;
  color: var(--clr-bg);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  transition: background-color 0.2s ease;
}

.card.button:hover,
.card.button:focus {
  background-color: #b9b1ad;
  outline: 0;
}

.card-title {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem 0;
  font-family: inherit;
  color: inherit;
}

input.highlighted {
  background-color: #ebd7cd;
  border-radius: 8px;
  padding: 1rem;
}

input.highlighted:disabled {
  opacity: 0.5;
}

input[type="checkbox"] {
  margin: 0.75rem 0;
  margin-right: 0.5rem;
}

input.heading {
  font-weight: 600;
  font-size: 1.2rem;
}

select {
  all: unset;
  transition: all 0.2s ease;
  background-color: var(--clr-btn);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", monospace;
  cursor: pointer;
}

select:hover {
  background-color: #b8a29d;
}

ul,
li {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay-wrapper {
  position: relative;
  align-self: stretch;
}

.overlay {
  position: absolute;
  background-color: #fff;
  padding: 1rem 2rem;
  top: 80%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 15rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.button-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.ml-2 {
  margin-left: 8px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 8px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: var(--clr-surface);
  color: var(--clr-btn-txt);
  border-radius: 16px;
}

.input-row {
  display: flex;
  max-width: 100%;
  align-items: center;
}

.input-row :is(input, select) {
  flex-grow: 1;
}

.right {
  margin-left: auto;
}

.grow {
  flex-grow: 1;
}

button.dense {
  padding: 0.5rem 1rem;
}

button.type {
  padding: 0 1rem;
}

button.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  display: inline-block;
}

button.icon:hover {
  background-color: var(--clr-btn);
}

li.generator-config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 9999px;
  margin: 0.5rem 0;
}

.centered {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-state-notice {
  font-size: 2rem;
  max-width: 20rem;
  text-align: center;
}
