body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22223b;
  color: #f2e9e4;
  padding: 2rem 12vw;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: 0;
  outline: 0;
  font-family: inherit;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  display: block;
}

.link:hover {
  text-decoration: underline;
}

button.secondary {
  padding: 1rem 2rem;
  color: #111;
}

button.raised {
  padding: 1rem 2rem;
  background: #c9ada7;
  color: #111;
}

.model-stage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: #f2e9e4;
  padding: 1rem 2rem;
  color: #22223b;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  transition: background-color 0.2s ease;
}

.card-title {
  font-weight: 500;
  font-size: 1.2rem;
}

button.card:hover {
  background-color: #b9b1ad;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem 0;
  font-family: inherit;
  color: inherit;
}

input.highlighted {
  background-color: #ebd7cd;
  border-radius: 8px;
  padding: 1rem;
}

input.highlighted:disabled {
  opacity: 0.5;
}

input[type="checkbox"] {
  margin: 0.75rem 0;
  margin-right: 0.5rem;
}

input.heading {
  font-weight: 600;
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay-wrapper {
  position: relative;
  align-self: stretch;
}

.overlay {
  position: absolute;
  background-color: #fff;
  padding: 1rem 2rem;
  top: 80%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 15rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.button-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.ml-2 {
  margin-left: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 8px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #f2e9e4;
  color: #111;
  border-radius: 16px;
}

.input-row {
  display: flex;
  max-width: 100%;
  align-items: center;
}

.input-row input {
  flex-grow: 1;
}

.right {
  margin-left: auto;
}

.grow {
  flex-grow: 1;
}

button.dense {
  padding: 0.5rem 1rem;
}

button.type {
  padding: 0 1rem;
}

button.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

button.icon:hover {
  background-color: #c9ada7;
}

li.generator-config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 9999px;
  margin: 0.5rem 0;
}
